[project]
	description = Setup Kubernetes Cluster with Kubeadm and Vagrant
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Swapnil Kulkarni (coolsvap)
[access "refs/for/refs/*"]
	read = group user/Swapnil Kulkarni (coolsvap)
	push = group user/Swapnil Kulkarni (coolsvap)
	label-Code-Review = -2..+2 group user/Swapnil Kulkarni (coolsvap)
	label-Verified = -1..+1 group user/Swapnil Kulkarni (coolsvap)
	rebase = group user/Swapnil Kulkarni (coolsvap)
	removeReviewer = group user/Swapnil Kulkarni (coolsvap)
	submit = group user/Swapnil Kulkarni (coolsvap)
[access "refs/heads/*"]
	read = group user/Swapnil Kulkarni (coolsvap)
	create = group user/Swapnil Kulkarni (coolsvap)
	push = +force group user/Swapnil Kulkarni (coolsvap)
	pushMerge = group user/Swapnil Kulkarni (coolsvap)
[access "refs/tags/*"]
	push = group user/Swapnil Kulkarni (coolsvap)
	push = +force group user/Swapnil Kulkarni (coolsvap)
